*{
	font-size: 14px;
	margin:0;
	padding: 0;
	/* 点击高亮效果 *//* 手指点击 清除默认的 高亮效果 透明 */
	-webkit-tap-highlight-color:transparent;

	box-sizing: border-box;
	-webkit-box-sizing:border-box;

	font-family: "微软雅黑",sans-serif;
}
input{
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}
.clearfix:before,.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
/*浮动*/
.fl_l{
	float: left;
}
.fl_r{
	float: right;
}
/*边框样式*/
.b_l{
	border-left: 1px solid #eee;
}
.b_r{
	border-right: 1px solid #eee;
}
.b_t{
	border-top: 1px solid #eee;
}
.b_b{
	border-bottom: 1px solid #eee;
}